# Ignore Jupyter autosave checkpoints everywhere
.ipynb_checkpoints/

# Ignore intermediate batch processing outputs
temp_results/
logs/
results/waveforms/
results/Inspected_histograms/
# Ignore Python cache
__pycache__/
*.pyc

