# Ignore Jupyter autosave checkpoints everywhere
.ipynb_checkpoints/

# Ignore intermediate batch processing outputs
temp_results/
logs/
results/
# Ignore Python cache
__pycache__/
*.pyc

# ignore test parameter config file bc it often changes
configs/parameters_for_test.yaml